


<section>
    <div class="hadar">
        <div class="btns">
            <button class="button-primary-text" style="margin: 0 0 auto" onclick="myFunction()">Giriş Yap</button>
        </div>
    </div>
    <h1 class="title">Barron & Co.</h1>
    <h2 class="subtitle">Profesyönel Yatırım Danışmanlığı</h2>

    <section>
        <div class="column">
            <div class="card" >
                <h3 class="card-title">Merhaba!</h3>

                <div class="form-control">
                    <label>Kullanıcı Adı:</label>
                    <input type="text" placeholder="" />
                </div>
                <div class="form-control">
                    <label>Şifre</label>
                    <input type="password" placeholder="" />
                </div>
                <button class="button-primary" onclick="">Giriş Yap</button>
                <p><a>Şifremi Unuttum</a> | <a href="/">Geri</a></p>

</div>
                @*<h3>@ViewData["Message"]</h3>

            <h3>isim: @ViewBag.Name</h3>
            <h3>yaş: @ViewBag.Age</h3>*@

            </div>

</section>
    <div class="modal-mask" id="modal-mask">
        <div class="modal" id="modal">
            <div class="modal-head">
                <p class="modal-title">Barron & Co. Invest</p>
            </div>
            <div class="modal-body">
                <p>Bakım çalışması nedeniyle geçici olarak isteğinizi gerçekleştiremiyoruz</p>
            </div>
            <div class="modal-footer">
                <button class="button-primary" onclick="hidealert();
                //window.location.href = '/';
">TAMAM</button>
            </div>
        </div>
    </div>
</section>
