@{
    ViewData["Title"] = "Barron & Co. -- Profesyönel Yatırım Danışmanlığı ";
}

<header>
    <div class="hadar">
        <div class="btns">
            <button class="button-primary-text iletisimbutton"  style="margin: auto;" onclick="">İLETİŞİM</button>
            <button class="button-primary-text" style="margin: auto;" onclick="">KAYIT OL</button>

            <button class="button-primary-text" style="margin: auto;" onclick="myFunction()">GİRİŞ YAP</button>
        </div>
    </div>
        <h1 class="title">Barron & Co.</h1>
        <h2 class="subtitle">Profesyönel Yatırım Danışmanlığı</h2>
        <p class="disclaimer" >AutoTrading, Fund Management & Portfolio Management Systems</p>

    <div id="fiyat">
        <div class="pricing-table row" >
            <div class="col col-sm-4">
                <div class="package">
                    <p class="package-name">Deneme</p>
                    <hr>
                    <ul class="features">
                        <li>Haftalık Hisse Analizleri</li>
                        <li>Şirket Haberleri</li>

                    </ul>

                    <p class="price">$0 / Ay</p>

                    <p class="disclaimer">Deneme Boyunca Ücretsiz</p>
                    <hr>


                    <button class="button-primary" onclick="showalert(1)">Hemen Başvur</button>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="package">
                    <p class="package-name">Başlangıç</p>
                    <hr>
                    <ul class="features">

                        <li>Günlük Hisse Analizleri</li>
                        <li>Anlık Şirket Haberleri</li>
                        <li>Günlük Borsa Analizi</li>
                    </ul>
                    <p class="price over">$9 / Ay</p>
                    <p class="disclaimer">3 Ay SADECE $25</p>
                    <hr>


                    <button class="button-primary" onclick="showalert(2)">Hemen Başvur</button>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="package ">
                    <p class="package-name">Uzman</p>
                    <hr>
                    <ul class="features">

                        <li>Günlük Hisse Analizleri</li>
                        <li>Anlık Şirket Haberleri</li>
                        <li>Günlük Borsa Analizi</li>
                    </ul>
                    <p class="price over">$99 / Ay</p>
                    <p class="disclaimer">3 Ay sadece $259</p>
                    <hr>


                    <button class="button-primary" onclick="showalert(3)">Hemen Başvur</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-mask" id="modal-mask" style="display:none">
        <div class="modal" id="modal">
            <div class="modal-head">
                <p class="modal-title">Yeni Kayıt</p>
            </div>
            <div class="modal-body">
                <p>Bakım çalışması nedeniyle geçici olarak isteğinizi gerçekleştiremiyoruz</p>
            </div>
            <div class="modal-footer">
                <button class="button-primary" onclick="hidealert();
                window.location.href = '/';
">
                    TAMAM
                </button>
            </div>
        </div>
    </div>

    <a class="scroll-down" href="#"></a>
</header>

