@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1 class="title">Space for your headline.</h1>
    <h2 class="subtitle">A space for a more descriptive subtitle.</h2>
    <section>
        <div class="pricing-table row">
            <div class="col col-sm-4">
                <div class="package">
                    <p class="package-name">Free</p>
                    <hr>

                    <p class="price">$0</p>
                    <p class="disclaimer">per user</p>
                    <hr>


                    <button class="button-primary">Get Started</button>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="package featured">
                    <p class="package-name">Startup</p>
                    <hr>

                    <p class="price">$1</p>
                    <p class="disclaimer">per user</p>
                    <hr>


                    <button class="button-primary">Get Started</button>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="package ">
                    <p class="package-name">Small Business</p>
                    <hr>

                    <p class="price">$9</p>
                    <p class="disclaimer">per user</p>
                    <hr>


                    <button class="button-primary">Get Started</button>
                </div>
            </div>
        </div>

    </section>

    <a class="scroll-down" href="#"></a>
</header>

