@{
    ViewData["Title"] = "Barron & Co. -- Profesyönel Yatırım Danışmanlığı ";
}

<header>
    <div class="hadar">
        <div class="btns">
        <button class="button-primary-text" style="margin: 0 0 auto" onclick="myFunction()">Giriş Yap</button>
        </div>
    </div>
    <h1 class="title">Barron & Co.</h1>
    <h2 class="subtitle">Profesyönel Yatırım Danışmanlığı</h2>

    <section>
        <div class="pricing-table row">
            <div class="col col-sm-4">
                <div class="package">
                    <p class="package-name">Deneme</p>
                    <hr>
                    <ul class="features">
                        <li>Haftalık Hisse Analizleri</li>
                        <li>Şirket Haberleri</li>

                    </ul>

                    <p class="price">$0 / Ay</p>

                    <p class="disclaimer">Deneme Boyunca Ücretsiz</p>
                    <hr>


                    <button class="button-primary">Hemen Başvur</button>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="package">
                    <p class="package-name">Başlangıç</p>
                    <hr>
                    <ul class="features">

                        <li>Günlük Hisse Analizleri</li>
                        <li>Anlık Şirket Haberleri</li>
                        <li>Günlük Borsa Analizi</li>
                    </ul>
                    <p class="price over" >$9 / Ay</p>
                    <p class="disclaimer">3 Ay SADECE $25</p>
                    <hr>


                    <button class="button-primary">Hemen Başvur</button>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="package ">
                    <p class="package-name">Uzman</p>
                    <hr>
                    <ul class="features">

                        <li>Günlük Hisse Analizleri</li>
                        <li>Anlık Şirket Haberleri</li>
                        <li>Günlük Borsa Analizi</li>
                    </ul>
                    <p class="price over">$99 / Ay</p>
                    <p class="disclaimer">3 Ay sadece $259</p>
                    <hr>


                    <button class="button-primary">Hemen Başvur</button>
                </div>
            </div>
        </div>

    </section>

    <a class="scroll-down" href="#"></a>
</header>

