<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testt</title>

    <environment include="Development">
     
    </environment>
    <environment exclude="Development">
      
    </environment>

    <!-- Fonts and CSS Reset -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

    <!-- PrismJS: Syntax Highlighting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/themes/prism.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/solid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css">

    <!-- Mustard UI -->
    <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
    <style>
        @@media screen and (max-width: 300px) {
            .package {
                display: none
            }

            .pricing-table {
                display: none
            }

            .card {
                width: 200px
            }
        }
        @@media screen and (max-width: 600px) {
        .package{
        display:none
        }
        .pricing-table {
            display:none
        }
        .card{
            width:350px
        }

}
        @@media screen and (min-width: 600px) {
            .card {
                width: 500px
            }
}
        .hadar {
            width: 120%;
            top: 0%;
            left: 0%;
            transform: rotate(0deg);
            background: black;
            margin: 0 0 auto;
        }
        .btns {
            display: block;
            margin: auto;
            width: 10%;
        }
        .package:hover {

        }
        .price.over{
            color:#999;
            text-decoration-line:line-through
        }


    </style>
    <script>

function myFunction() {
        window.location.href = '/home/about';
        //alert('asd')
}
        function hidealert(){
        document.getElementById('modal-mask').style.display = 'none';
        document.getElementById('modal').style.display = 'none';

        }
    </script>
</head>
    <body>
        @RenderBody()

    </body>
</html>
